body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F7EDF0;
}

html{
    scroll-behavior: smooth;
}

.nav{
    text-align: center;
}

.responsive-img{
    width:500px;
    height:auto;
}


